# CONFIGURAÇÕES DO MERCADO PAGO
# MERCADOPAGO_PUBLIC_KEY=
# MERCADOPAGO_ACCESS_TOKEN=
# MERCADOPAGO_WEBHOOK_SECRET=

# IFOOD
IFOOD_CLIENT_ID=
IFOOD_CLIENT_SECRET=

# BANCO DE DADOS
DATABASE_URL=postgresql+asyncpg://saka_user:saka_password@localhost:5435/saka_delivery_db

# CONFIGURAÇÕES DO APP
APP_NAME=Saka Delivery KDS
DEBUG=False
SECRET_KEY=saka-delivery-secret-change-in-production
